.container {
  width: 100%;
  /* border: 5px red solid; */
  display: flex;
  justify-content: center;
}
.container::before {
  padding-top: 20px;
}
.back {
  display: flex;
  width: 10%;
  /* border: 2px #ff00b3 solid; */
  padding-left: 1px;
}
.space {
  width: 1%;
}
.main {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%;
}

.mainBox {
  height: 92%;
  border-top-left-radius: 2px;
  border: 2px lightgray solid;
  display: flex;
}
.right {
  width: 50%;
}
.left {
  /* border: 5px royalblue solid; */
  width: 50%;
}
.options {
  display: flex;
  align-items: center;
}
.descTxt {
  /* border: peru 2px solid; */
  display: flex;
  flex-wrap: wrap;
}
.icons {
  /* border: 2px springgreen solid; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.btn {
  /* border: 2px yellow solid; */
  display: flex;
  justify-content: flex-end;
}
.btnOptions {
  background: red;
  color: white;
  border-radius: 40px;
}
.btnFollow {
  border-radius: 50%;
  width: auto;
  height: 30px;
}
.description {
  display: flex;
  flex-direction: column;
}
.imgOptions {
  width: 25px;
  height: 25x;
}
.tablero {
  width: 40px;
  border-radius: 50px;
}
.inpComment {
  border-radius: 50px;
  width: 80%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}