.container {
  width: 100%;
  /* border: 5px red solid; */
  display: flex;
  justify-content: center;
}
.container::before {
  padding-top: 20px;
}
.back {
  display: flex;
  width: 10%;
  /* border: 2px #ff00b3 solid; */
  padding-left: 1px;
}
.space {
  width: 1%;
}
.main {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 100%;
}

.mainBox {
  height: 92%;
  border-top-left-radius: 2px;
  border: 2px lightgray solid;
  display: flex;
}
.right {
  width: 50%;
}
.left {
  /* border: 5px royalblue solid; */
  width: 50%;
}
.options {
  display: flex;
  align-items: center;
}
.descTxt {
  /* border: peru 2px solid; */
  display: flex;
  flex-wrap: wrap;
}
.icons {
  /* border: 2px springgreen solid; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.btn {
  /* border: 2px yellow solid; */
  display: flex;
  justify-content: flex-end;
}
.btnOptions {
  background: red;
  color: white;
  border-radius: 40px;
}
.btnFollow {
  border-radius: 50%;
  width: auto;
  height: 30px;
}
.description {
  display: flex;
  flex-direction: column;
}
.imgOptions {
  width: 25px;
  height: 25x;
}
.tablero {
  width: 40px;
  border-radius: 50px;
}
.inpComment {
  border-radius: 50px;
  width: 80%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*
.contenedor {
  display: grid;
  grid-template-columns: auto auto auto;
}

.img1 {
  width: 400px;
  border-radius: 50px 50px;
}

.img2 {
  width: 489px;
  border-radius: 50px 50px;
}

.img3 {
  width: 400px;
  border-radius: 50px 50px;
}

.img4 {
  width: 400px;
  border-radius: 50px 50px;
}

.img5 {
  width: 400px;
  border-radius: 50px 50px;
}

.img6 {
  width: 400px;
  border-radius: 50px 50px;
}

.img7 {
  width: 400px;
  border-radius: 50px 50px;
}

.img8 {
  width: 400px;
  border-radius: 50px 50px;
}

.img9 {
  width: 400px;
  border-radius: 50px 50px;
}

.img10 {
  width: 400px;
  border-radius: 50px 50px;
} */
.contenedor {
  padding: 10px;
  height: 1200px;
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: flex-start;
  align-items: flex-start;
}
.img1 {
  margin: 1%;
  border-radius: 50px 50px;
}

.img1-1 {
  width: 300px;
  height: 500px;
  border-radius: 50px 50px;
}

.img2 {
  margin: 1%;
}

.img2-2 {
  width: 300px;
  height: 500px;
  border-radius: 50px 50px;
}

.img3 {
  width: 300px;
  margin: 1%;
}

.img3-3 {
  width: 300px;
  height: 500px;
  border-radius: 50px 50px;
}

.img4 {
  width: 300px;
  margin: 1%;
}

.img4-4 {
  width: 300px;
  height: 500px;
  border-radius: 50px 50px;
}

.img5 {
  width: 300px;
  margin: 1%;
}

.img5-5 {
  width: 300px;
  height: 500px;
  border-radius: 50px 50px;
}

.img6 {
  width: 300px;
  margin: 1%;
}

.img6-6 {
  width: 300px;
  border-radius: 50px 50px;
}

.img7 {
  width: 300px;
  margin: 1%;
}

.img7-7 {
  width: 300px;
  border-radius: 50px 50px;
}

.img8 {
  width: 300px;
  margin: 1%;
}

.img8-8 {
  width: 300px;
  border-radius: 50px 50px;
}

.img9 {
  width: 300px;
  margin: 1%;
}

.img9-9 {
  width: 300px;
  border-radius: 50px 50px;
}

.img10 {
  width: 300px;
  margin: 1%;
}

.img10-10 {
  width: 300px;
  border-radius: 50px 50px;
}
